.mainContainer{
    display: flex;
    justify-content: center;
}

.headingContainer{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);

}
.headingContainer>div{
    display: flex;
    
    padding: 1em;
   
    border-bottom: 1px rgb(133, 133, 133) solid;

}
.wrapper{
   
    width: 80%;
}
.questionContainer{
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
}
.questionContainer>div{
    padding: 1em;
    border-left: 1px rgb(223, 223, 223) solid;
    border-bottom: 1px rgb(223, 223, 223) solid;
}
.srNoDiv1{
    border-left: none !important;
}
.questionTextDiv{
    grid-column-start: 2;
    grid-column-end: 4;
}
.solutionTextDiv{
    grid-column-start: 4;
    grid-column-end: 6;
}