.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2em;
}
.wrapper{
    min-width: 65em;
   display: flex;
   flex-direction: column;
   gap: 2em;
}

@media (max-width:1160px) {
    .wrapper{
        min-width: 40em;
    }
}

.PageHeadingContainer{
    display: flex;
    
   
   
}
.PageHeading{
    padding: 1em 0.5em;
    font-size: 1.8em;
    color: gray;
    
    
}
.PageHeading>h1{
    font-weight: 400;
}
.PageHeading>h1>span{
    color: var(--main-color);
}


/* profile view  */

.profileView{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1em;
}

.profileView1{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    
}
.profileView2{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileName{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileName>h1{
    font-size: 3em;
    text-align: center;
    font-weight: 600
}
.profileImage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileImageDiv1{
    width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px gray;
    border-radius: 50%;
    height: 20em;
   

}
.profileImageDiv2{
    width: 18em;
    height: 18em;
    position: relative;

}
.userProfile{
    border-radius: 50%;
}
.profileRank{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}
.profileRank>h1{
    font-size: 3em;
    font-weight: 600;
    color: var(--main-color);
}
.profileRank>h3{
    font-size: 2em;
    font-weight: 600;
    
}

/* marks  */
.TopperMarks{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.TopperMarks>div{
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    color:  gray;
}

.TopperMarks>div>div{
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    gap: 0.4em;
    color:  gray;
}


.meterContainer {
    width:20em;
    height: 10px;
    background: #d5d5d5;
 
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    
}


.meterValue {
    height: 120%;
    background:  var(--main-color);
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgb(67, 67, 67) ;
}
.finalMarks>p{
    color: black;
    font-weight: bold;

}
.ShowAnswersBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ShowAnswersBtn button{
    background-color: white;
    border: none;
    box-shadow: 0px 0px 10px 0px rgb(212, 212, 212);
    padding: 0.5em 1em;
    border-radius: 4em;
    color: var(--main-color);
    font-weight: 600;
    width: 20em;
    
}
.ShowAnswersBtn button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgb(194, 194, 194);
  
    
}
/* remark section  */

.RemarkSection{
    width: 100%;
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.remarkDiv{
    width: 100%;
    min-height: 15em;
    box-shadow: 0px 0px 10px 0px rgb(193, 193, 193);
    padding: 2em;
    border-radius: 0.4em;
}
.remarkDiv>p{
    color: gray;
    font-size: 1.5em;
}
/* answers section  */
.toppersAnswersSection{
   display: flex;
   width: 100%;
   margin-top: 2em;
   margin-bottom: 2em;
    flex-direction: column;
}
.toppersAnswersHeading>h1{
    font-size: 3em;
    color: gray;
}
.toppersAnswersHeading>h1>span{
    color: var(--main-color) !important;
}
.toppersAnswersDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
}
.toppersAnswersDiv>div{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}
.toppersAnswers{
    display: flex;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--main-color);
    justify-content: center;
    align-items: center;
    padding: 0.5em 1.5em;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(197, 197, 197);
    border-radius: 1em;
}
.toppersAnswers:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgb(178, 178, 178);
 
}

@media (max-width:830px) {
    .PageHeadingContainer{
        display: flex;
        justify-content: center;
        align-items: center;   
       
       
    }
    .profileView{
        flex-direction: column;
    }
    .toppersAnswersHeading>h1{
        font-size: 2em;
        color: gray;
    }
    .toppersAnswers{
        display: flex;
        font-size: 1em;
        font-weight: 600;
        color: var(--main-color);
        justify-content: center;
        align-items: center;
        padding: 0.5em 0.8em;
        background-color: white;
        box-shadow: 0px 0px 10px 0px rgb(197, 197, 197);
        border-radius: 1em;
    }
    .PageHeading{
        padding: 1em 0.5em;
        font-size: 1.3em;
        color: gray;    
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 60%;
    }
    .profileName>h1{
        font-size: 2em;
        text-align: center;
        font-weight: 600
    }
    .profileImageDiv1{
        width: 15em;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px 0px gray;
        border-radius: 50%;
        height: 15em;
       
    
    }
    .profileImageDiv2{
        width: 13em;
        height: 13em;
        position: relative;
    
    }
    .meterContainer {
        width:15em;
        height: 10px;
        background: #d5d5d5;
     
        border-radius: 5px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        
    }
    .profileRank>h1{
        font-size: 2em;
        font-weight: 600;
        color: var(--main-color);
    }
    .profileRank>h3{
        font-size: 1.5em;
        font-weight: 600;
        
    }
    .remarkDiv{
        width: 65%;
        min-height: 15em;
        box-shadow: 0px 0px 10px 0px rgb(193, 193, 193);
        padding: 2em;
        border-radius: 0.4em;
    }
    .PageHeading>h1{
        font-weight: 400;
        text-align: center;
      
     
       
    }
    .toppersAnswersDiv>div{
        display: flex;
        width: 60%;
        align-items: center;
        justify-content: space-around;
    }
}
@media (max-width:440px) {
    .toppersAnswersHeading>h1{
        font-size: 1.5em;
        color: gray;
    }
    .toppersAnswersDiv>div{
        display: flex;
        width: 60%;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }
    .toppersAnswers{
        display: flex;
        font-size: 0.7em;
        font-weight: 600;
        color: var(--main-color);
        justify-content: center;
        align-items: center;
        padding: 0.5em 0.8em;
        background-color: white;
        box-shadow: 0px 0px 10px 0px rgb(197, 197, 197);
        border-radius: 1em;
    }
    .TopperMarks>div{
        display: flex;
        font-size: 0.7em;
        justify-content: space-between;
        align-items: center;
        gap: 0.5em;
        color:  gray;
    }
    .remarkDiv{
        width: 18em;
        min-height: 15em;
        box-shadow: 0px 0px 10px 0px rgb(193, 193, 193);
        padding: 2em;
        border-radius: 0.4em;
    }
    .remarkDiv>p{
        color: gray;
        font-size: 1.2em;
    }
}