.TopperTopContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
  
    
}
.editIcon{
    opacity: 0.4;
}
.editIcon:hover{
    cursor: pointer;
    opacity: 1;
}
.editBtnDiv{
    
    position: absolute;
    top: 0%;
    right: 0%;
}
.editBtnDiv1{
    padding: 1em;
    position: absolute;
    top: 0%;
    right: 0%;
}
.TopperCardMainContainer{
    display: flex;
    border-radius: 0.3em;
    gap: 1em;
    padding: 2em;
    background-color: rgb(251, 251, 251);
    box-shadow: 0px 0px 4px 0px rgb(205, 205, 205);
    position: fixed;

}
.TopperContainer{
  display: flex;
  gap: 1em;
}

.TopperProfileImgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.TopperDetails{
   
    display: flex;
    flex-direction: column;
  

}
.TopperDetails1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2em;
    width: 40em;
    
    position: relative;
    padding: 1em;
}

.TopperName{
    font-weight: 600;
    font-size: 1.6em;
}
.TopperDetailsDivs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.TopperDetailsDivs>label{

    font-size: 1.2em;
    font-weight: 100;
    color: gray;
}
.TopperDetailsDivs1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.TopperSub{
    font-weight: 600;
    font-size: 1.6em;
}

/* Topper2Section */
.Topper2Section{
    position: relative;
    display: flex;
    gap: 1em;
    flex-direction: column;
}
.Topper2SectionHead{
    font-weight: 600;
    font-size: 1.6em;
}
.TopperGsContainer{
    display: flex;
    
}
.GsMarksDiv{
    width: 25%;
    padding: 1em;
    border-bottom: 1px rgb(211, 211, 211) solid;
    border-right:  1px rgb(211, 211, 211) solid;
}
.GsMarksDiv > div{
    font-size: 3em;
    font-weight:100;

}
.GsMarksDiv > h2{
    font-size: 1.2em;
    font-weight:100;
    color: gray;

}
.GsMarksDivLast{
    padding: 1em;
    width: 25%;
    border-bottom: 1px rgb(211, 211, 211) solid;
}
.GsMarksDivLast > div{
    font-size: 3em;
    font-weight:100;

}
.GsMarksDivLast > h2{
    font-size: 1.2em;
    font-weight:100;
    color: gray;

}

/* topper 3 sections */

.Topper3Section{
    border-radius: 0.3em;
    margin-top: 1em;
    height: 15em;
    width: 40em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    box-shadow: 0px 0px 4px 0px rgb(205, 205, 205);
    background-color: white;
}
.TopperRemark{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.TopperRemark>h2{
    font-size: 1.6em;
    
}
.TopperRemark>p{
    width: 100%;
    text-wrap: wrap;
    font-size: 1.2em;
    color:gray;
}
/* topper 4 section  */
.Topper4Section{
    width: 20em;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    padding: 1em;
    background-color: white;
    box-shadow: 0px 0px 4px 0px  rgb(205, 205, 205);
}
.Topper4Head{
    font-size: 0.8em;
    font-weight: 600;

}

.scoresDiv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.Scores{
    padding: 1em;
    padding-left: 0em;
    width: 100%;
    display: flex;
    flex-direction: column;
   
    
    padding: 1em;
    border-bottom: 1px rgb(210, 210, 210) solid;
    border-right: 1px rgb(210, 210, 210) solid;
}
.scoresDiv>div>h2{  
    font-size: 1.2em;
    font-weight: 100;
    color: gray;

}
.scoresDiv>div>div{  
    font-size: 3em;
    font-weight: 100;
   

}
.preliemsGs{
    padding: 1em;
    padding-left: 0em;
    width: 100%;
    display: flex;
    flex-direction: column;
   
  
    padding: 1em;
    border-bottom: 1px rgb(210, 210, 210) solid;
    
}
.Optional1{
    padding: 1em;
    padding-left: 0em;
    width: 100%;
    display: flex;
    flex-direction: column;
     
    padding: 1em;
    border-bottom: 1px rgb(210, 210, 210) solid;
    
}
.TopperShowAnswersBtn{
    display: flex;
    
    align-items: center;
    height: 100%;
}
.TopperShowAnswersBtn>div{
    padding: 0.4em 1em;
    font-size: 1.2em;
   
    background-color: rgb(98, 174, 255);
    border-radius: 0.3em;
  
}
.TopperShowAnswersBtn>div:hover{
    cursor: pointer;
    background-color: rgba(98, 174, 255, 0.585);
    
  
}

/* cross */
.Cross{
    position: fixed;
    top:10%;
    right: 3%;
    width: 40px;
    height: 40px;
 
    display: flex;
   
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    flex-direction: column;
}
.Cross:hover{
    cursor: pointer;
}
.Cross1 {
    width: 30px;
    height: 2px;
    transform: rotateZ(45deg) translate(5px, 2px); /* Adjust translation values */
    background-color: rgb(0, 0, 0);
}

.Cross2 {
    width: 30px;
    height: 2px;
    transform: rotateZ(-45deg) translate(5px, -2px); /* Adjust translation values */
    background-color: rgb(0, 0, 0);
}
.Cross:hover>.Cross1{
    background-color: rgb(255, 65, 65);
}
.Cross:hover>.Cross2{
    background-color: rgb(255, 65, 65);
}